@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Raleway+Dots&display=swap');

:root {
    --light: #f7f5f7;
    --dark: #232323;
    --blue: #a9bfc9;
    --grey: #cecece;
    --beige: #efe6dc;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;

    background-color: var(--light);
    background-image: linear-gradient(var(--light) 0%, var(--blue) 150%);

    line-height: 1.6;
    letter-spacing: normal;
    
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--dark);
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 10px;
}

h1 {
  font-weight: 700;
  line-height: 1.2;
}

h2 {
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 30px;
  }

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

#photos, #home, #videos, #playground, #blog, #resume {
    scroll-margin-top: 100px;
}

section {
  /* border-bottom: 1px solid #999; */
  text-align: center;
  padding: 20px 20px;
  height: 900px;
  width: 100%;
}

.sections-heading {
    letter-spacing: 30px;
    font-size: 64px;
    margin: 8px;
}

@media (max-width: 768px) {
    .sections-heading {
        letter-spacing: 10px;
        font-size: 48px;
        margin: 8px;
    }
}

/* Navbar */

#navbar {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container {
    background: rgba(247, 245, 247, 0.8);
    color: var(--dark);
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-items .logo a {
    font-size: 32px;
}

.navbar-items .menu-item a{
    font-size: 16px;
}

.navbar-items a{
    font-size: 32px;
}

.navbar-links {
    display: flex;
    flex-direction: row;
}

.navbar-items ul li {
    padding: 10px 20px;
}

#menu-toggle {
    margin-top: 10px;
    padding: 10px;
    font-size: 30px;
    color: var(--dark);
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

.mobile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.highlighted {
    color: var(--blue);
}

@media (max-width: 768px) {

    .navbar-sections {
        flex-direction: row;
        align-items: center;
        justify-content: space;
        padding: 10px 0px;
    }

    .mobile-header {
        justify-content: space-between;
    }

    #menu-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mobile-nav .menu-item a{
        font-size: 25px;
    }

    .column-view {
        flex-direction: column;
    }

    .navbar-items .logo a {
        font-size: 25px;
        letter-spacing: 5px;
    }

}

/* HOME */

#home {
    margin-top: 64px;
    height: 500px;
    /* background-color: var(--blue); */
}

.home-container {
    max-width: 1100px;
    margin: 0 auto;
    /* overflow: auto; */
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.home-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.skills {
    padding: 30px;
    background-color: var(--light);
    border-radius: 8px;
    margin: 10px;
    box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
}

.skills h1 {
    text-align: center;
}


.skills p {
    text-align: left;
}

.skills:hover {
    transform: scale(1.015);
    transition: 0.2s ease-in-out;
}

.home-about-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.home-about-card img {
    max-width: 80%;
    height: auto;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
}

.home-about-card img:hover {
    transform: scale(1.015);
    transition: 0.2s ease-in-out;
}

@media (max-width: 768px) {
    #home {
        margin-top: 10px;
        height: 1250px;
    }

    .home-container {
        margin: 0;
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }

    .home-about-card {
        grid-row: 1;
    }

    
}

/* PHOTOS */

#photos {
    height: 1100px;
}

#photos h1 {
    padding: 30px 0;
}

.photos-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.photo img {
    border-radius: 8px;
}

.photo:hover {
    transform: scale(0.975);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.photo {
    position: relative;
}

.location {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.location h1 {
    color: var(--beige);
    font-size: 40px;
}

@media (max-width: 768px) {
    #photos {
        margin-top: 0;
        height: 850px;
    }

    .photos-container {
        margin: 0;
        grid-template-columns: 1fr 1fr;
    }

    .location h1 {
        color: var(--beige);
        font-size: 15px;
        letter-spacing: 5px;
    }  
}

/* Videos */

#videos {
    height: 700px;
}

#videos .subheading {
    padding: 0px 0px 30px 0px;
}

.video-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.video {
    border-radius: 16px;
    width: 800px;
    height: 450px;
    box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 20%);
}

.video iframe {
    border-radius: 16px;
}

.video-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    background-color: var(--blue);
    border-radius: 16px;
    box-shadow: inset 4px 12px 30px 6px rgb(0 0 0 / 9%);
}

.video-description h1 {
    /* color: var(--light); */
    align-self: center;
    letter-spacing: 4px;
    font-weight: 1000;
    text-align: left;
    font-size: 24px;
}

.video-description p {
    /* color: var(--light); */
    font-weight: 600;
    text-align: left;
    font-size: 16px;
}

@media (max-width: 768px) {
    #videos {
        margin-top: 0;
        height: 800px;
    }

    .video-container {
        margin: 0;
        grid-template-columns: 1fr;
    }

    .video {
        width: 100%;
        height: 250px;
    }

}





/* PLAYGROUND */


#playground {
    height: 900px;
}

.playground-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}

.playground-item {
    padding: 30px;
    background-color: var(--light);
    border-radius: 8px;
    margin: 10px;
    box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.playground-item:nth-child(2) {
    background-image: url('https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.playground-item:nth-of-type(1) {
    grid-row: 1 / span 2;
}

/* Weather */

.weather-card {
    border-radius: 8px;
    background: rgba(36, 34, 36, 0.6);
    color: var(--light);
    padding: 20px;
}


.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search button {
    border-radius: 50%;
    border: none;
    outline: none;
    height: 28px;
    width: 28px;
    background: rgba(36, 34, 36, 0.3);
    color: var(--light);
    margin-left: 10px;
}

.search button:hover{
    background: rgba(36, 34, 36, 0.9);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.search input {
    width: calc(100% - 40px);
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 0.5em 0.8em;
    border-radius: 16px;
    background: rgba(36, 34, 36, 0.3);
    color: var(--light);
}

.weather {
    margin-top: 10px;
}

.weather .icon {
    width: 20%;
    height: 20%;
}

.flex-icon-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

}

.weather .description {
    text-transform: capitalize;
}

.weather.loading {
    visibility: hidden;
    margin-top: 0px;
    height: 0px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
}

@media (max-width:768px) {

    #playground {
        height: 1100px;
    }

    .playground-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

