<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\styles.css">
    <link rel="stylesheet" href="\static\utilities.css">
    <!-- <link rel="stylesheet" href="\static\frn.css"> -->
    <script src="https://kit.fontawesome.com/5f87ad780e.js" crossorigin="anonymous"></script>
    <title>gabriel hauss</title>
</head>
<body>
    <!-- Navbar -->
    <section id="navbar">
        <div class="navbar-container">
            <div class="navbar-sections">
                <div class="navbar-items">
                    <h4 class="logo"><a href="#home">gabriel hauss</a></h4>
                </div>
                <div class="navbar-items">
                    <ul>
                        <li class="menu-item"><a href="#photos" >photos</a></li>
                        <li class="menu-item"><a href="#videos" >videos</a></li>
                        <li class="menu-item"><a href="#playground">playground</a></li>
                    </ul>
                </div>
                <div class="navbar-items">
                    <a href="mailto:gabriel.hauss@gmail.com"><i class="fas fa-address-card"></i></a>
                    <a href="https://www.linkedin.com/in/gabriel-hauss-a89744205/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section id="home">
        <div class="home-container">
            <div class="home-skills">
                <div class="skills">
                    <h1>Web Development</h1>
                    <p>
                        Developing websites and solving problems using code has become a passion of mine. Aside from WebDev, I enjoy Data Science.
                    </p>
                </div>
                <div class="skills">
                    <h1>Photo - & Videography</h1>
                    <p>
                        After High School, I travelled for more than a year. I got to know many creative minds, which sparked my passion for creating memories. 
                    </p>
                </div>
            </div>
            <div class="home-about-card">
                <img src="\assets\portait.jpg" alt="portrait">
                <h3>Gabriel Hauss, 22 years old</h3>
            </div>
        </div>
    </section>
  
    <section id="photos">
        <h1 class="sections-heading">photos</h1>
    </section>

    <section id="videos">
        <h1 class="sections-heading">videos</h1>
    </section>

    <section id="playground">
        <h1 class="sections-heading">playground</h1>
        <div class="playground-container">
            <div class="playground-item">
                <h1>Spotify</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt enim tenetur placeat ducimus? Aliquid, porro dicta numquam minus recusandae minima maiores dolore quaerat magni omnis soluta quod quam reiciendis dignissimos.
                </p>
            </div>
            <div class="playground-item">
                <h1>Weather</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt fugit et aliquid quidem molestiae tempore earum esse, eaque libero enim blanditiis magnam ab nobis cum quam non ut, similique beatae.
                </p>
            </div>
            <div class="playground-item">
                <h1>Football</h1>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, earum, iure consequuntur similique corporis ipsa perferendis id modi optio eius doloribus itaque dolor illum quis quae adipisci, quam obcaecati quasi.
                </p>
            </div>
        </div>
    </section>
    
    <!-- Footer -->
    <!-- changes -->
    <footer class="footer ">
        <div class="container">
            <div class="text-center text-dark">
                <h1>Gabriel Hauss</h1>
                <p>Copyright &copy; 2022</p>
            </div>
        </div>
    </footer>
</body>
</html>